# Some useful Unicode entities
# Non-Breaking Space
snippet button
	<button type="submit">${0}</button>
snippet button.
	<button class="${1:button}" type="submit">${0}</button>
snippet button:s
	<button type="submit">${0}</button>
snippet div
	<div>
		${0}
	</div>
snippet div.
	<div class="${1}">
		${0}
	</div>
snippet div#
	<div id="${1}">
		${0}
	</div>
snippet ul
	<ul>
		<li></li>
		<li></li>
		<li></li>
	</ul>
snippet ol
	<ol>
		<li></li>
		<li></li>
		<li></li>
	</ol>
